.dashboard-container {
  min-height: 100vh;
  background-color: #f0f0f0;
  display: flex;
}

.dashboard-content {
  flex: 1;
  margin-left: 250px; /* تأكد أن Sidebar ثابت العرض */
  padding: 80px 20px 60px 20px;
  max-width: 1200px;
}

.dashboard-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}
