.admin-dashboard {
  display: flex;
  min-height: 100vh;
  padding-top: 0rem; /* يجعل المحتوى ينزل قليلاً */
  position: relative;
  z-index: 10;
}

.admin-main {
  flex: 1;
  padding: 2rem;
  background-color: #f3f4f6; /* خلفية رمادية فاتحة */
  margin-left: 16rem; /* نفس عرض الـ sidebar */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
